.container{
    width:100%;
    max-width:430px;
    min-height:100vh;
    margin:auto;
    overflow:hidden;
}
    
    .card{
    
    background:var(--glass);
    
    backdrop-filter:blur(var(--blur));
    
    border-radius:var(--radius-xl);
    
    padding:20px;
    
    box-shadow:var(--shadow);
    
    }
    
    .btn{
    
    background:var(--accent);
    
    color:white;
    
    border:none;
    
    padding:15px;
    
    border-radius:20px;
    
    cursor:pointer;
    
    }
    
    .btn-outline{
    
    background:transparent;
    
    border:2px solid white;
    
    color:white;
    
    padding:15px;
    
    border-radius:20px;
    
    }
    
    .text-secondary{
    
    color:var(--text-1);
    
    }

    